body {
  margin: 0;
  padding: 0 100px;
  background-color: #000;
  color: white;
  font-family: "Arial", sans-serif;
  overflow-x: hidden;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
  gap: 2rem;
}

.intro {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  max-width: 600px;
}

.eye-container {
  position: fixed;
  top: 50%;
  right: 80px;
  transform: translateY(-50%);
  width: 500px;
  height: 500px;
  z-index: 1;
}

.heading-line {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.vertical-line {
  width: 4px;
  height: 100px;
  background: linear-gradient(to bottom, #a855f7, #9333ea);
  border-radius: 10px;
}

.animated-heading {
  font-size: 6rem;
  font-weight: bold;
  margin: 0;
  line-height: 1.1;
}

.name {
  color: #9333ea;
}

.subtitle {
  font-size: 2rem;
  color: #ddd;
}

.buttons {
  display: flex;
  gap: 1.5rem;
  margin-top: 1rem;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 80px;
  padding: 0 2rem;
  border-radius: 20px;
  font-weight: bold;
  font-size: 1.2rem;
  background: rgba(255, 255, 255, 0.05);
  border: 2px solid #9333ea;
  color: #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  text-decoration: none;
  will-change: transform;
}

.btn:hover {
  transform: perspective(600px) rotateX(4deg) rotateY(-4deg) scale(1.05);
  box-shadow: 0 10px 25px rgba(147, 51, 234, 0.3);
  color: #9333ea;
}

.fill-hover {
  --text-fill-progress: 0;
  --text-fill-color: #9333ea;
  --text-color: #ffffff;

  background: paint(textFill);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  display: inline-block;
}

/* === Overview Section Styling === */
.overview-section {
  display: flex;
  align-items: center;
  color: #fff;
  position: relative;
}

.overview-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.overview-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  max-width: 50%;
}

.overview-right {
  flex: 1;
  position: sticky;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.subheading {
  color: #ccc;
  font-size: 1rem;
  letter-spacing: 2px;
}

.overview-heading {
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.overview-description {
  font-size: 1.2rem;
  line-height: 1.8;
  color: #ccc;
  margin-bottom: 2rem;
  max-width: 90%;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  max-width: 500px;
}

.card {
  height: 150px;
  background: linear-gradient(
      rgba(255, 255, 255, 0.01),
      rgba(255, 255, 255, 0.01)
    ),
    paint(noisePattern);
  border: 1.5px solid #ccc;
  color: white;
  box-shadow: 0 0 10px rgba(147, 51, 234, 0.1);
  cursor: default;
  transition: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
}

/* === Tech Section Styling === */

.tech-wrapper {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}
.tech-section {
  display: flex;
  justify-content: flex-start;
  padding-top: 5rem;
  width: 100%;
}

.tech-balls-grid {
  display: grid;
  grid-template-columns: repeat(4, 150px);
  gap: 30px;
  justify-content: flex-start;
}

/* === Projects Styling === */
.projects-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 700px;
}

.project-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  justify-content: start;
}

.projects-heading {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.projects-description {
  font-size: 1.2rem;
  color: #ccc;
  margin-bottom: 2rem;
  max-width: 90%;
  line-height: 2rem;
}

.project-card {
  background: rgba(255, 255, 255, 0.03);
  border: 2px solid #9333ea;
  border-radius: 20px;
  overflow: hidden;
  text-decoration: none;
  color: white;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.project-card:hover {
  transform: perspective(600px) rotateX(2deg) rotateY(-2deg) scale(1.03);
  box-shadow: 0 10px 20px rgba(147, 51, 234, 0.3);
}

.project-card img {
  width: 100%;
  height: auto;
  display: block;
  border-bottom: 2px solid #9333ea;
}

.project-info {
  padding: 1rem;
}

.project-info h3 {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

.project-info p {
  font-size: 1rem;
  color: #ccc;
}

@media screen and (max-width: 1024px) {
  .fill-hover {
    background: none;
    background-clip: initial;
    background-clip: initial;
    -webkit-background-clip: initial;
    -webkit-text-fill-color: inherit;
    color: #9333ea;
  }
  body {
    padding: 0 40px;
  }

  .container {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    padding: 3rem 0;
    gap: 2rem;
  }

  .intro {
    align-items: flex-start;
    text-align: left;
  }

  .animated-heading {
    font-size: 3rem;
  }

  .subtitle {
    font-size: 1.4rem;
  }

  .buttons {
    flex-wrap: wrap;
    gap: 1rem;
  }

  .eye-container {
    display: none;
  }

  .overview-container {
    justify-content: center;
  }

  .overview-left {
    max-width: 100%;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    text-align: center;
  }

  .card {
    width: 200px;
  }

  .tech-section {
    justify-content: center;
  }

  .tech-balls-grid {
    grid-template-columns: repeat(5, 80px);
    justify-content: center;
    gap: 100px;
  }

  .projects-container {
    justify-content: center;
  }

  .project-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .project-card {
    width: 100%;
    max-width: 500px;
  }

  .projects-heading {
    font-size: 2.5rem;
  }

  .projects-description {
    max-width: 95%;
  }
}

@media screen and (max-width: 600px) {
  .fill-hover {
    background: none;
    background-clip: initial;
    -webkit-background-clip: initial;
    -webkit-text-fill-color: inherit;
    color: #9333ea;
  }
  body {
    padding: 0 20px;
  }

  .animated-heading {
    font-size: 2.2rem;
  }

  .subtitle {
    font-size: 1.1rem;
  }

  .btn {
    width: auto;
    font-size: 1rem;
    height: 50px;
    padding: 0 1.5rem;
  }

  .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
  }

  .card {
    width: 90%;
    font-size: 1.2rem;
    height: auto;
    padding: 1.5rem;
  }

  .tech-wrapper {
    font-size: 1.5rem;
    text-align: center;
  }

  .tech-section {
    justify-content: center;
    display: flex;
    width: 100%;
  }

  .tech-balls-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 16px;
    width: 100%;
    padding: 0 10px;
  }

  .overview-heading {
    font-size: 2.5rem;
  }

  .overview-description {
    font-size: 1rem;
  }

  .project-card {
    width: 100%;
    max-width: 100%;
  }
}
